.containersearch{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1100px){
  .containersearch{
    flex-direction: column;
  .img{
    display: none;
  }
}
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 20px;
  
    .form-container {
      background: #fff;
      padding: 50px;
      border-radius: 10px;
      // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      max-width: 400px;
      width: 100%;
  
      .form-title {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
      }
  
      .form-group {
        margin-bottom: 15px;
  
        label {
          display: block;
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 5px;
          color: #333;
        }
  
        input {
          width: 100%;
          padding: 10px;
          font-size: 14px;
          border: 1px solid #ccc;
          border-radius: 5px;
          transition: border 0.3s ease;
  
          &:focus {
            border-color: #007bff;
            outline: none;
          }
        }
      }
  
      .find-booking-button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        background-color: #28a745;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease;
  
        &:hover {
          background-color: #218838;
        }
      }
    }
  }
  